<%- include('./partials/head') %>

<body>

  <article>
    <header>
      <h1>Fatih Güler</h1>
      <p><em>FDND'r in opleiding</em></p>
  
    </header>
    
    <img src="/creative-coder.png" alt="Creative Coder">
  
    
    <p class="groted">Ik ben Fatih en dit is mijn visitekaartje voor de opleiding FDND! <br>
    
    </article>
  
    <script src="/script.js"></script>

<%- include('./partials/foot') %>
